 @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');

{
	margin: 0;
	padding: 0;
}
html {font-size: 100%;}
body{
 text-align: center;
 background: #000;
 color: #fff;
 font-family: 'Grenze', serif;
 font-size: 20px;
}


.site-header {
  background:url('img.jpg') no-repeat center fixed;
  -webkit-background-size:fit;
  -moz-background-size:fit;
  background-size: fit;
  min-height: 250px;
}

#slogan {
	margin-top:0;
	font-style: italic;
	font-size: 25px;  
}

h1, h2, h3 {
	margin-bottom: 0.75em;
	font-family: "Baloo Chettan", cursive;
} 

.brand-name {
	margin-bottom: 0;
	padding-top: 80px;
}

h2 { 
    font-style: italic;
}

ul h3 {
	text-transform: uppercase;
}

ul { 
	list-style-type: none;
 }

 li {
 	margin-left:10%;
 	margin-right:10%;
 	padding-bottom: 1em;
 }

a {
	color: cyan;
	font-weight: bold;
	text-decoration: none;
}

p {
    margin-bottom: 1em;
}
